*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: #0882d3;
    width: 100%;
    color:#4d4d4d;
}
.header h2{
    text-transform: capitalize;
    padding: 5px 70px;
}

.content{
    padding-top: 40px;
}
.content-heading{
    text-align: center;
    text-transform: capitalize;
    color: rgb(116, 111, 111);
    font-weight: bold;
}

.main-content{
    padding-top: 150px;
    text-align: center;
    justify-content: center;
}
.content-img{
    display: none;
}
.content-formData{
    width: 80%;
    margin: auto;
    justify-content: center;
    padding-top: 30px;
    padding-left: 15px;
    color: #4d4d4d;
    background-color: white;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.content-formData label{
    color: #4d4d4d;
    font-size: 20px;
    font-weight: bold;
    width: 10px;
}

input[type=text] , input[type=number] {
    border: none;
    border-bottom: 1px solid silver;
    outline: none;
    width: 150px;
    margin-left: 0px;

  }

  input[type=text]:focus, input[type=number]:focus {
    font-weight: bold;
      border-bottom-color:  #0882d3;
  }

  input[type=submit]{
      background-color: #0882d3;
      border: none;
      border-radius: 5px;
      font-size: 20px;
      color: white;
      padding: 4px 8px;
      margin-bottom: 20px;
  } 
  input[type=submit]:hover{
      cursor: pointer;
  }
        /* FOR LARGE SCREEN */
  @media screen and (min-width:760px){
      .content-img{display: block;}
    .content-img{
        width: 40%;
    }
    .content-img img{
        width: 100%;
    }
    .main-content{
        padding-top: 150px;
        padding-left: 150px;
        display: flex;
    }
    .content-formData{
        width: 26%;
        margin-left:200px;
        padding-top: 30px;
        padding-left: 15px;
        color: #4d4d4d;
        background-color: white;
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }
    input[type=submit]{
        background-color: #0882d3;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        color: white;
        padding: 4px 8px;
        margin-top: 20px;
        margin-bottom: 30px;
    } 
  }