*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #0882d3;
    width: 100%;
    color:silver;
}
.header h1{
    text-transform: capitalize;
    padding: 5px 70px;
}
.content{
    padding-top: 40px;
}
.content-heading{
    text-align: center;
    text-transform: capitalize;
    color: #4d4d4d;
}
.main-content{
    padding-top: 150px;
    padding-left: 50px;
    display: grid;
    grid-template-columns:repeat(1fr);
}
.content-img{
    width: 40%;
}
.content-img img{
    width: 100%;
}
